In [1]:
import pandas as pd

LOCATION_PROCESSED = 'data_processed'
LOCATION_SURVEY = f'{LOCATION_PROCESSED}/survey_responses.csv'
LOCATION_QUESTIONS = f'{LOCATION_PROCESSED}/questions_processed.csv'

In [2]:
# load the survey data
survey = pd.read_csv(LOCATION_SURVEY, index_col=0)
survey.head()

,1,2,3,4,5,6,7,8,9,10,...,52,53,54,55,56,57,58,59,60,61
0,18-24,Male,Denmark,Undergraduate,Finance / Accounting,Once every three months,Strongly disagree,Agree,Neither agree nor disagree,Food and Beverages,...,No,2.0,Maybe,3.0,No,1.0,Yes,4.0,No,3.0
1,25-34,Female,United States,Part-time Employee,Other,Once every three months,Agree,Strongly agree,Agree,Toys and Games|Books and Media,...,Maybe,3.0,Yes,5.0,Yes,1.0,Yes,1.0,No,3.0
2,25-34,Male,Denmark,Unemployed,Technology / IT,Rarely / Never,Strongly disagree,Strongly disagree,Strongly disagree,NaN,...,Yes,5.0,Maybe,3.0,Yes,5.0,No,3.0,No,3.0
3,25-34,Male,Denmark,Graduate / Postgraduate,Technology / IT,Once a month,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Electronics and Gadgets|Toys and Games|Health ...,...,No,3.0,Maybe,3.0,Maybe,2.0,Maybe,2.0,No,3.0
4,25-34,Male,Finland,Undergraduate,Finance / Accounting,Once every three months,Disagree,Agree,Agree,Electronics and Gadgets|Clothing and Accessories,...,Yes,4.0,No,3.0,Yes,4.0,Maybe,3.0,No,3.0

In [5]:
# load questions
df_questions = pd.read_csv(LOCATION_QUESTIONS, index_col=0)
df_questions.tail()

,title,type,options,required,placeholder,subtitle,shuffle,strategy,shortStrategy,example,page,taxonomical_parent
id,,,,,,,,,,,,
57,How effective do you perceive this strategy to...,RangeInput,"['1', '2', '3', '4', '5']",False,NaN,Rate on scale from 1 (Not effective) to 5 (Ver...,NaN,"Reflect on time, space and environmental cost ...",Eco Impact Check,"Before completing a purchase, you reflect on t...",3,NaN
58,Have you tried this strategy before?,RadioInput,"['Yes', 'No', 'Maybe']",True,NaN,NaN,NaN,Remind yourself of the corporations agenda and...,Corporate Reflection,"Before completing a purchase, you zoom out of ...",3,NaN
59,How effective do you perceive this strategy to...,RangeInput,"['1', '2', '3', '4', '5']",False,NaN,Rate on scale from 1 (Not effective) to 5 (Ver...,NaN,Remind yourself of the corporations agenda and...,Corporate Reflection,"Before completing a purchase, you zoom out of ...",3,NaN
60,Have you tried this strategy before?,RadioInput,"['Yes', 'No', 'Maybe']",True,NaN,NaN,NaN,"When purchasing, ask yourself which feelings y...",Emotionally Self-aware,"You are in the midst of ordering clothes, but ...",3,NaN
61,How effective do you perceive this strategy to...,RangeInput,"['1', '2', '3', '4', '5']",False,NaN,Rate on scale from 1 (Not effective) to 5 (Ver...,NaN,"When purchasing, ask yourself which feelings y...",Emotionally Self-aware,"You are in the midst of ordering clothes, but ...",3,NaN

In [4]:
# TODO FRED: DO SOME MAGIC